.strokeAnimation {
  stroke-width: 4;
  stroke-dasharray: 4, 12;
  stroke-linecap: round;
  stroke-linejoin: miter;
  animation: dash 1s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 32;
  }
}
