@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --cursor: pointer;
    cursor: var(--cursor);
}

.stroke-dashed {
    stroke-width: 4;
    stroke-dasharray: 4, 12;
    stroke-linecap: round;
    stroke-linejoin: miter;
    animation: dash 1s linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 32;
    }
}
